<div class="container">
  <div class="common-parts-info  bg-light">
    <%= form_with model:current_customer,url:customer_path,local:true do |f| %>
      <table class="table table-hover w-100">
        <tr>
          <td><%= f.label :名前 %></td>
          <td><%= f.text_field :name, autofocus: true,placeholder:"テニス太郎",class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :年齢 %></td>
          <td><%= f.select :age,[["10代","10代"],["20代","20代"],["30代","30代"],["40代","40代"],["50代","50代"],["60代","60代"],["70代","70代"]],{},class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :テニス歴 %></td>
          <td><%= f.select :years_of_experience,[["1年未満","1年未満"],["1年以上5年未満","1年以上5年未満"],["5年以上10年未満","5年以上10年未満"],["10年以上","10年以上"]],{},class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :レベル %><br><span id="openModal">詳細</spna></td>
          <td><%= f.select :level,[["初心者","初心者"],["中級者","中級者"],["中上級者","中上級者"],["上級者","上級者"]],{},class:"form-control" %></td>
        </tr>
      
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"sample@example.com",class:"form-control" %></td>
        </tr>
        <tr>
          <td><%= f.submit "保存",class:"btn btn-primary" %></td>
          <td></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<%= render "public/customers/modal" %>