<div class="main-content">
  <div class="left-content bg-light p-3 shadow-sm">
    <h3>マイページ</h3>
    <table class="table">
      <tr>
        <td>名前</td>
        <td><%= current_customer.name %></td>
      </tr>
      <tr>
        <td>年齢</td>
        <td><%= current_customer.age %></td>
      </tr>
      <tr>
        <td>テニス歴</td>
        <td><%= current_customer.years_of_experience %></td>
      </tr>
      <tr>
        <td>レベル<br><span id="openModal">詳細</spna></td>
        <td><%= current_customer.level %></td>
      </tr>
    
      <tr>
        <td>メールアドレス</td>
        <td><%= current_customer.email %></td>
      </tr>
      <tr>
        <td><%= link_to "編集",edit_customer_path(current_customer.id),class:"btn btn-success" %></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="right-content bg-light p-3 shadow-sm">
    <div class="my_circle">
      <h3>登録サークル</h3>
      <% if current_customer.circles.exists? %>
        <ul>
          <% current_customer.circles.each do |circle| %>
            <li><%= link_to circle_path(circle.id) do %><%= circle.circle_name %><% end %>（登録日：<%= circle.created_at.strftime("%Y/%m/%d")%>）</li>
          <% end %>
        </ul>
      <% else %>
        <p>登録しているサークルはありません</p>
      <% end %>
    </div>
    <div class="my_chat">
      <h3>チャット</h3>
      <% if current_customer.room_members.exists? %>
        <ul>
        <% current_customer.room_members.each do |room_member| %>
          <li><%= link_to circle_chat_path(room_member.circle.id) do %><%= room_member.circle.circle_name %><% end %></li>
        <% end %>
        </ul>
      <% else %>
        <p>まだチャットはありません</p>
      <% end %>
    </div>
  </div>
</div>
<%= render "public/customers/modal" %>