<div class="main-content">
    <div class="left-content bg-light p-3 shadow-sm">
      <div class="mb-3">
        <%= link_to "一覧に戻る",circles_path %>
      </div>
      <table class="table small">
        <tr>
          <td class="col-lg-4">サークル名</td>
          <td class="col-lg-6"><%= @circle.circle_name %><% if current_customer != @circle.customer %><%= link_to "チャットをする",circle_chat_path(@circle.id),class:"btn btn-primary btn-sm ml-3" %><% end %></td>
          <td id="circle_fav_btn" class="col-lg-2"><% if customer_signed_in? %><%= render "public/circle_favorites/circle_favorite",circle: @circle,circle_favorite: @circle_favorite %><% end %></td>
        </tr>
        <tr><td>紹介</td><td><%= @circle.body %></td><td></td></tr>
        <tr><td>レベル<br><span id="openModal">詳細</spna></td><td><%= @circle.level %></td><td></td></tr>
        <tr><td>メンバー</td><td><%= @circle.member %></td><td></td></tr>
        <tr><td>主な活動場所</td><td><%= link_to court_path(@circle.court.id) do %><%= @circle.court.name %><% end %></td><td></td></tr>
        <tr><td colspan="3" id="show_map"></td></tr>
        <% if @circle.customer==current_customer %>
        <tr>
          <td rowspan=4>管理者機能</td>
        </tr>
        <tr>
          <td><%= link_to "編集する",edit_circle_path(@circle.id) %></td><td></td>
        </tr>
        <tr>
          <td><%= link_to "削除する",circle_path(@circle.id),method: :delete,"data-confirm"=>"削除していいですか？" %></td><td></td>
        </tr>
        <tr>
          <td><%= link_to "イベントを投稿する",new_circle_event_path(@circle.id) %></td><td></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="right-content bg-light shadow-sm">
      <!--タブで表示を分ける -->
      <div class="tab-border">
        <div class="tab tab-active">イベント(<%= @circle.events.count %>)</div>
        <div class="tab" id="review_count">コメント(<%= @reviews.count %>)</div>
      </div>
      <!--活動サークルタブ -->
        <div class="tab-box box-show">
          <div class="p-2 circle-index">
            <% if @circle.events.exists? %>
              <table class="table small">
                <thead>
                  <td class="col-lg-3">イベント名</td>
                  <td class="col-lg-5">内容</td>
                  <td class="col-lg-2">開催日</td>
                  <td class="col-lg-2">締切</td>
                </thead>
                <% @circle.events.each do |event| %>
                <tr>
                  <td><%= event.title %></td>
                  <td><%= event.body %></td>
                  <td><%= event.event_date %></td>
                  <% if (event.deadline<=5) && (event.deadline>=1) %>
                    <td class="font-weight-bold text-danger">あと<%= event.deadline %>日</td>
                  <% elsif event.deadline<=0 %>
                    <td>募集終了</td>
                  <% else %>
                  <td class="font-weight-bold">あと<%= event.deadline %>日</td>
                  <% end %>
                </tr>
                <% end %>
              </table>
            <% else %>
              <div class="text-center font-weight-bold my-5">
                <p>イベントの予定はありません</p>
              </div>
            <% end %>
          </div>
        </div>
        <!--コメントタブ -->
        <div class="tab-box">
          <!-- コメント一覧の部分テンプレート -->
          <% if @circle.reviews.exists? %>
            <span id="comment_index_template">
              <%= render "public/comments/comment_index",comments: @reviews %>
            </span>
          <% else %>
            <div class="text-center font-weight-bold my-5">
              <p>コメントはありません</p>
            </div>
          <% end %>
          <!-- コメント投稿の部分テンプレート -->
          <span id="new_review_template">
            <%= render "public/reviews/new_review",review: @review,circle: @circle %>
          </span>
        </div>
      </div>
    </div>
</div>

<%= render "public/customers/modal" %>

<script>
let map;
let marker;
let court=gon.court
  function initMap(){
    let map=new google.maps.Map(document.getElementById('show_map'),{
      zoom:16,
      center:{lat:court["latitude"],lng:court["longitude"]},
      mapId:"1b786f15acc7b7be"
    });
    marker=new google.maps.Marker({
      position:{lat:court["latitude"],lng:court["longitude"]},
      map:map
    })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>