<div class="container login">
  <div class="customer-info bg-light">
    <h2 class="pt-2 pl-2">ログイン</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
      <tr>
        <td><%= f.label :メールアドレス %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %></td>
      </tr>
      <tr>
        <td><%= f.label :パスワード %></td>
        <td><%= f.password_field :password, autocomplete: "current-password",class:"form-control" %></td>
      </tr>
    
      <% if devise_mapping.rememberable? %>
      <tr>
        <td><%= f.check_box :remember_me %></td>
        <td><%= f.label :パスワードを保存する %></td>
      </tr>
      <% end %>
      <tr>
        <td><%= f.submit "ログイン",class:"btn btn-primary" %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= render "admin/shared/links" %></td>
        <td></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
