<div class="new_comment p-3">
  <!--バリデーションの設定-->
  <span id="comment_error">
    <%= render "public/comments/error",comment:comment %>
  </span>
  
  <%= form_with model:comment,url:court_comments_path(court.id),remote:true,method: :post do |f| %>
  <%= f.text_field:comment,class:"form-control",placeholder:"コメントを入力してください" %><br>
  <div id="rate">
    <%= f.hidden_field:evaluation,value:"score" %>
  </div>
  <%= f.submit "コメントする",class:"btn btn-primary btn-sm" %>
  <% end %>
</div>

<script>
  //星評価のjavascript
$('#rate').raty({
  starOn: "<%= asset_path('star-on.png') %>",
  starOff: "<%= asset_path('star-off.png') %>",
  starHalf: "<%= asset_path('star-half.png') %>",
  scoreName: 'comment[evaluation]',
  half: true
});
</script>