<div class="alert">
  <%= flash[:notice] %>
</div>
<div class="main-content">
  <div class="court_content shadow-sm p-2 small bg-light">
    <% unless courts.empty? %>
      <div class="search_window">
        <%= search_form_for q do |f| %>
          <%= f.search_field:name_cont,placeholder:"名称で検索",class:"form-control search-field" %>
          <%= f.search_field:address_cont,placeholder:"住所で検索",class:"form-control search-field" %>
          <%= f.submit "検索",class:"btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    <% end %>
    <table class="table small table-hover">
      <thead>
        <th>名称</th>
        <th>住所</th>
        <th>いいね数</th>
      </thead>
      <% courts.each do |court| %>
      <!--クリックすると地図が移動する-->
      <tr onclick="setlocation(<%= court.latitude %>,<%= court.longitude %>)">
        <td class="col-lg-4"><%= link_to court_path(court.id) do %><%= court.name %><% end %></td>
        <td class="col-lg-7"><%= court.address %></td>
        <td class="col-lg-1 text-center"><%= court.favorites.count %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate courts %>
  </div>
  <div id="map"></div>
</div>