<%= render "public/courts/court_map",courts:@courts,q:@q ,url:root_path %>
<script>
  let map;
  let marker=[];
  let infoWindow=[];
  const courts=gon.courts;
  function initMap(){
    geocoder=new google.maps.Geocoder()
    map=new google.maps.Map(document.getElementById("map"),{
      zoom:8,
      center:{lat:36,lng:139 },
      mapId:"1b786f15acc7b7be"
    });
    //アイコンをクリックした時にマップの描画を変更する
    map.addListener("center_changed",()=> {
    window.setTimeout(()=>{
      map.panTo(marker.getPosition());
    }, 10000);
  });
    
    //登録済みマーカーを表示
    //for文で配列化したコートを抽出する
    for(let i=0;i<courts.length;i++){
      //コートの座標
      markerLatLng=new google.maps.LatLng({
        lat:courts[i]["latitude"],
        lng:courts[i]["longitude"]
      });
      //マーカーの設定
      const icon_clay="<%= asset_path('clay.png') %>"
      const icon_omuni="<%= asset_path('omuni.png') %>"
      const icon_hard="<%= asset_path('hard.png') %>"
      
      if (courts[i]["court_kind"]=="オムニ"){
        marker[i]=new google.maps.Marker({
        position:markerLatLng,
        map:map,
        icon:icon_omuni
      });
      }else if(courts[i]["court_kind"]=="クレイ"){
        marker[i]=new google.maps.Marker({
        position:markerLatLng,
        map:map,
        icon:icon_clay
      });
      }else{
        marker[i]=new google.maps.Marker({
        position:markerLatLng,
        map:map,
        icon:icon_hard
      });
      }
      //情報窓の設定
      //リンクを設置
      let court_id=courts[i]["id"]
      let court_name=courts[i]["name"]
      const content='<a href= "/courts/'+court_id+'">'+court_name+'</a>'
      infoWindow[i]=new google.maps.InfoWindow({
        content: content
      });
      //アイコンクリック時のアクション
      marker[i].addListener('click',function(){
        infoWindow[i].open(map,marker[i]);
        map.setZoom(15);
        map.setCenter(marker[i].getPosition());
      });
    }
  }
  //リストをクリックすると地図も移動
  function setlocation(lat,lng){
    map.setCenter(new google.maps.LatLng(lat,lng));
    map.setZoom(15);
  };
  
  //検索窓の設定
  function codeAddress(){
    let inputAddress=document.getElementById('address').value;
    geocoder.geocode({'address':inputAddress},function(results,status){
      if(status=='OK'){
        map.setCenter(results[0].geometry.location);
      }else{
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>