<div class="alert">
  <%= flash[:notice] %>
</div>
<div class="main-content">
  <div class="left-content bg-light p-3 shadow-sm">
    <div class="mb-3">
      <%= link_to "一覧に戻る",root_path %>
    </div>
    <table class="table small">
      <tr><td>名称</td><td><%= @court.name %></td>
      <!--お気に入りボタンのテンプレート-->
      <% if customer_signed_in? %>
      <td id="fav_btn">
        <%= render "public/favorites/favorite",court: @court,favorite: @favorite %>
      </td>
      <% else %>
        <td></td>
      <% end %>
      
      </tr>
      <tr><td>住所</td><td><%= @court.address %></td><td></td></tr>
      <tr><td>コート</td><td><%= @court.court_kind %></td><td></td></tr>
      <tr><td>運営</td><td><%= @court.operation %></td><td></td></tr>
      <tr><td>金額</td><td><%= @court.price %></td><td></td></tr>
      <tr><td colspan="3" id="show_map"></td></tr>
    </table>
  </div>
  <div class="right-content bg-light shadow-sm">
    <!--タブで表示を分ける -->
    <div class="tab-border">
      <div class="tab tab-active">活動サークル(<%= @court.circles.count %>)</div>
      <div class="tab" id="comment_count">コメント(<%= @comments.count %>)</div>
      <div class="tab">修正依頼</div>
    </div>
    <!--活動サークルタブ -->
    <div class="tab-box box-show">
      <div class="p-2 circle-index">
        <% if @court.circles.exists? %>
          <table class="table small">
            <thead>
              <td>サークル名</td>
              <td>レベル</td>
              <td>紹介</td>
            </thead>
            <% @circles.each do |circle| %>
            <tr>
              <td><%= link_to circle_path(circle.id) do %><%= circle.circle_name %><% end %></td>
              <td><%= circle.level %></td>
              <td><%= circle.body %></td>
            </tr>
            <% end %>
          </table>
        <% else %>
          <div class="text-center font-weight-bold my-5">
            <p>活動サークルはありません</p>
          </div>
        <% end %>
      </div>
    </div>
    <!--コメントタブ -->
    <div class="tab-box">
      <!-- コメント一覧の部分テンプレート -->
      <% if @court.comments.exists %>
        <span id="comment_index_template">
          <%= render "public/comments/comment_index",comments:@comments %>
        </span>
      <% else %>
        <div class="text-center font-weight-bold my-5">
          <p>コメントはありません</p>
        </div>
      <% end %>
      
      <!-- コメント投稿の部分テンプレート -->
      <span id="new_comment_template">
        <%= render "public/comments/new_comment",comment:@comment,court:@court %>
      </span>
    </div>
    <!--報告タブ -->
    <div class="tab-box">
      <div class="report-form">
      <%= form_with model:@report,url:court_reports_path(@court.id),local:true do |f| %>
        <%= f.select:report_content,[["場所が間違っている","場所が間違っている"],["金額が間違っている","金額が間違っている"]],{},class:"form-control" %>
        <%= f.text_area:report_detail,class:"form-control mt-2" %>
        <%= f.submit "報告する",class:"btn btn-primary btn-sm mt-2" %>
      <% end %>
      <p class="mt-5 bg-white p-3 rounded">テニスコートの情報に誤りや追記事項があるようでしたらお手数ですがこちらのフォームより修正依頼の報告をお願いします。</p>
      </div>
    </div>
  </div>
</div>





<script>

//googlemapの表示・マーカーの表示
let map;
let marker;
let court=gon.court
  function initMap(){
    let map=new google.maps.Map(document.getElementById('show_map'),{
      zoom:16,
      center:{lat:court["latitude"],lng:court["longitude"]},
      mapId:"1b786f15acc7b7be"
    });
    marker=new google.maps.Marker({
      position:{lat:court["latitude"],lng:court["longitude"]},
      map:map
    })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>