<% if @reviews.present? %>
  <div >
    <table class="table table-hover small">
      <% reviews.each do |review| %>
      <tr>
        <td class="p-3">
          ユーザー名:<%= review.customer.name %><br>
          投稿日:<%= review.created_at.strftime('%Y/%m/%d') %><br>
          <%= review.comment %><br>
          <span class="rate" data-score="<%= review.evaluation %>">評価:</span>
        </td>
      </tr>
      <% end %>
    </table>
   </div>
<% else %>
  <div class="text-center font-weight-bold my-5">
    <p>コメントはありません</p>
  </div>
<% end %>

 <script>
//コメント一覧の記述
  $('.rate').raty({
    readOnly: true,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>