<div class="container">
  <div class="common-parts-info bg-light">
    <table class="table table-hover w-100 small">
      <thead>
        <td class="col-lg-2">対象コート</td>
        <td class="col-lg-2">報告内容</td>
        <td class="col-lg-4">詳細</td>
        <td class="col-lg-2">報告者</td>
        <td class="col-lg-2">対応フラグ</td>
      </thead>
      <% reports.each do |report| %>
      <tr>
        <td><%= link_to  edit_admin_court_path(report.court.id) do %><%= report.court.name %><% end %></td>
        <td><%= report.report_content %></td>
        <td><%= report.report_detail %></td>
        <td><%= report.customer.name %></td>
        <% if report.is_supported %>
          <td><%= link_to "対応済",admin_report_path(report.id),method: :patch,class:"btn btn-success btn-sm" %></td>
        <% else %>
          <td><%= link_to "未対応",admin_report_path(report.id),method: :patch,class:"btn btn-primary btn-sm" %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <%= paginate reports %>
  </div>
</div>