<!DOCTYPE html>
<html>
  <head>
    <title>LetsTennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <script src="https://kit.fontawesome.com/12120b9d9d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-5" href="#"><%= image_tag("logo-icon.png") %><i class="font-weight-bold ml-2">Lets! Tennis</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li class="nav-item mr-5"><%= link_to "ログアウト",destroy_customer_session_path,class:"nav-link" %></li>
              <li class="nav-item mr-5">マイページ</li>
            <% elsif admin_signed_in? %>
              <li class="nav-item mr-5"><%= link_to "ログアウト",destroy_admin_session_path,class:"nav-link" %></li>
            <% else %>
              <li class="nav-item mr-5"><%= link_to "新規登録",new_customer_registration_path,class:"nav-link" %></li>
              <li class="nav-item mr-5"><%= link_to "ログイン",new_customer_session_path,class:"nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
