<!DOCTYPE html>
<html>
  <head>
    <title>LetsTennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <script src="https://kit.fontawesome.com/12120b9d9d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <% if %w[new_customer_registration new_customer_session].any?{|name|current_page?(send("#{name}_path"))} %>
    <div class="wrapper top-img-pic">
  <% else %>
    <div class="wrapper common-body">
  <% end %>
    <!-- サイドバーの開始 -->
      <nav id="sidebar" class="close"><!--デフォルトをクローズ -->
        <div class="px-3">
          <div class="sidebar-logo">
            <%= image_tag "logotennis.png",:size=>"125x110" %>
          </div>
          <div class="small">
            <table class="table table-hover font-weight-bold">
              <tr>
                <td><%= link_to "ホーム",root_path,class:"text-dark" %></td>
              </tr>
              <tr>
                <td><%= link_to "ブックマーク",favorite_courts_path,class:"text-dark" %></td>
              </tr>
              <tr>
                <td><%= link_to "サークルを探す",circles_path,class:"text-dark" %></td>
              </tr>
              <tr>
                <td><%= link_to "テニスコートを登録する",new_court_path,class:"text-dark" %></td>
              </tr>
              <tr>
                <td><%= link_to "サークルを登録する",new_circle_path,class:"text-dark" %></td>
              </tr>
            <% if customer_signed_in? %>
              <tr>
                <td><%= link_to "マイページ",customer_path(current_customer.id),class:"text-dark" %></td>
              </tr>
              <tr>
                <td><%= link_to "ログアウト",destroy_customer_session_path,method: :delete,class:"text-dark" %></td>
              </tr>
            </table>
            <div mt-3>
              <p class="p-3 bg-light rounded shadow-sm">ようこそ<%= current_customer.name %>さん。<br>すべてのサービスをご利用いただけます。</p>
            </div>
            <% else %>
              <tr>
                <td><%= link_to "ログイン",new_customer_session_path,class:"text-dark" %></td>
              </tr>
            </table>
            <div>
              <p class="p-3 bg-light rounded shadow-sm">テニスコート・サークルの登録、お気に入りを利用する場合は<%= link_to "ログイン",new_customer_session_path,class:"font-weight-bold" %>が必要となります。</p>
            </div>
            <% end %>
          </div>
        </div>
      </nav>
      <!-- サイドバーの終了 -->
      <!-- メイン部の開始 -->
      <div id="content">
        <!-- navの開始 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" id="sidebaraction">
          <div class="container-fluid">
            <% unless admin_signed_in? %>
            <button type="button" id="sidebarCollapse" class="btn">
              <i class="fas fa-chevron-circle-down sidebar-icon fa-2x" style="color:#73d5bc;"></i>
            </button>
            <% end %>
            
            <div class="header-nav">
            <a class="navbar-brand ml-2" href="/"><%= image_tag "tennis_ball.png",:size=>"40x40" %><i class="font-weight-bold ml-2">Lets!Tennis</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <!-- googlemapの検索窓はgooglemapが表示される画面のみにする -->
                <% if %w[root new_court].any?{|name|current_page?(send("#{name}_path"))} %>
                  <li class=" nav-item mr-3">
                    <input id="address" type="text-box" value="東京都港区高輪4-10-30" class="rounded mr-3 mt-1" size="40">
                    <input type="button" value="検索" onclick="codeAddress()" class="btn text-light mr-3 map-search">
                  </li>
                <% end %>
                <% if admin_signed_in? %>
                  <li class="nav-item mr-5"><%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class:"nav-link" %></li>
                  <li class="nav-item mr-5"><%= link_to "報告一覧",admin_root_path,class:"nav-link" %></li>
                  <li class="nav-item mr-5"><%= link_to "会員一覧",admin_customer_index_path,class:"nav-link" %></li>
                <% end %>
              </ul>
            </div>
            </div>
          </div>
        </nav>
        <!-- navの終了 -->
        <main class="mt-4">
          <%= yield %>
        </main>
      <!-- メイン部の終了 -->
      </div>
    </div>
    <footer>
      <div>
        <p>© Copyright 2021 <em>Let!Tennis</em> All rights reserved.</p>
        </div>
    </footer>
  </body>
</html>